@font-face {
  font-family: "Bergen";
  src: url("../../fonts/bergen/BergenText-Bold.otf");
  font-display: block;
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Bergen";
  src: url("../../fonts/bergen/BergenText-BoldItalic.otf");
  font-display: block;
  font-style: italic;
  font-weight: 600;
}

@font-face {
  font-family: "Bergen";
  src: url("../../fonts/bergen/BergenText-SemiBold.otf");
  font-display: block;
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Bergen";
  src: url("../../fonts/bergen/BergenText-SemiBoldItalic.otf");
  font-display: block;
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: "Bergen";
  src: url("../../fonts/bergen/BergenText-Regular.otf");
  font-display: block;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Bergen";
  src: url("../../fonts/bergen/BergenText-Italic.otf");
  font-display: block;
  font-style: italic;
  font-weight: 400;
}
